<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrsb.cg.dao.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.hrsb.cg.model.Banner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="sorts" property="sorts" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="types" property="types" jdbcType="TINYINT" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="spare1" property="spare1" jdbcType="VARCHAR" />
    <result column="spare2" property="spare2" jdbcType="VARCHAR" />
    <result column="spare3" property="spare3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, image, link, sorts, status, manager_id, operate_time, spare1, spare2, spare3, types
  </sql>
  
  <select id="findAllByPage" resultMap="BaseResultMap" parameterType="com.hrsb.cg.util.Page">
   select 
    <include refid="Base_Column_List" />
    from hd_banner
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hd_banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByTypes" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from hd_banner
    where types = #{types} and status = 1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hd_banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hrsb.cg.model.Banner" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hd_banner (id, image, link, 
      sorts, status, manager_id, 
      operate_time, spare1, spare2, 
      spare3)
    values (#{id,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{sorts,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{managerId,jdbcType=INTEGER}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{spare1,jdbcType=VARCHAR}, #{spare2,jdbcType=VARCHAR}, 
      #{spare3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hrsb.cg.model.Banner" keyProperty="id" useGeneratedKeys="true">
    insert into hd_banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="image != null" >
        image,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="sorts != null" >
        sorts,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="types != null" >
        types,
      </if>
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="spare1 != null" >
        spare1,
      </if>
      <if test="spare2 != null" >
        spare2,
      </if>
      <if test="spare3 != null" >
        spare3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="sorts != null" >
        #{sorts,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="types != null" >
        #{types,jdbcType=TINYINT},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        #{spare3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrsb.cg.model.Banner" >
    update hd_banner
    <set >
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="sorts != null" >
        sorts = #{sorts,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="types != null" >
        types = #{types,jdbcType=TINYINT},
      </if>
      <if test="managerId != null" >
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        spare1 = #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        spare2 = #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        spare3 = #{spare3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrsb.cg.model.Banner" >
    update hd_banner
    set image = #{image,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      sorts = #{sorts,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      manager_id = #{managerId,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      spare1 = #{spare1,jdbcType=VARCHAR},
      spare2 = #{spare2,jdbcType=VARCHAR},
      spare3 = #{spare3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>