<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrsb.cg.dao.SubjectQuestionOptionMapper" >
  <resultMap id="BaseResultMap" type="com.hrsb.cg.model.SubjectQuestionOption" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="subject_id" property="subjectId" jdbcType="BIGINT" />
    <result column="question_id" property="questionId" jdbcType="BIGINT" />
    <result column="option_name" property="optionName" jdbcType="VARCHAR" />
    <result column="option_score" property="optionScore" jdbcType="INTEGER" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="spare1" property="spare1" jdbcType="VARCHAR" />
    <result column="spare2" property="spare2" jdbcType="VARCHAR" />
    <result column="spare3" property="spare3" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, subject_id, question_id, option_name, option_score, manager_id, operate_time, 
    spare1, spare2, spare3
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hd_subject_question_option
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="com.hrsb.cg.util.Page" >
    select 
    <include refid="Base_Column_List" />
    from hd_subject_question_option
    <where>
    	<if test="params.questionId != null">
    		and question_id = #{params.questionId}
    	</if>
    </where>
  </select>
  
  <select id="selectByQuestionId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hd_subject_question_option
    where question_id = #{questionId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hd_subject_question_option
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hrsb.cg.model.SubjectQuestionOption" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hd_subject_question_option (id, subject_id, question_id, 
      option_name, option_score, manager_id, 
      operate_time, spare1, spare2, 
      spare3)
    values (#{id,jdbcType=BIGINT}, #{subjectId,jdbcType=BIGINT}, #{questionId,jdbcType=BIGINT}, 
      #{optionName,jdbcType=VARCHAR}, #{optionScore,jdbcType=INTEGER}, #{managerId,jdbcType=INTEGER}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{spare1,jdbcType=VARCHAR}, #{spare2,jdbcType=VARCHAR}, 
      #{spare3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hrsb.cg.model.SubjectQuestionOption" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hd_subject_question_option
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="optionName != null" >
        option_name,
      </if>
      <if test="optionScore != null" >
        option_score,
      </if>
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="spare1 != null" >
        spare1,
      </if>
      <if test="spare2 != null" >
        spare2,
      </if>
      <if test="spare3 != null" >
        spare3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=BIGINT},
      <if test="subjectId != null" >
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="optionName != null" >
        #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="optionScore != null" >
        #{optionScore,jdbcType=INTEGER},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        #{spare3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrsb.cg.model.SubjectQuestionOption" >
    update hd_subject_question_option
    <set >
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=BIGINT},
      </if>
      <if test="optionName != null" >
        option_name = #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="optionScore != null" >
        option_score = #{optionScore,jdbcType=INTEGER},
      </if>
      <if test="managerId != null" >
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        spare1 = #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        spare2 = #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        spare3 = #{spare3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrsb.cg.model.SubjectQuestionOption" >
    update hd_subject_question_option
    set subject_id = #{subjectId,jdbcType=BIGINT},
      question_id = #{questionId,jdbcType=BIGINT},
      option_name = #{optionName,jdbcType=VARCHAR},
      option_score = #{optionScore,jdbcType=INTEGER},
      manager_id = #{managerId,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      spare1 = #{spare1,jdbcType=VARCHAR},
      spare2 = #{spare2,jdbcType=VARCHAR},
      spare3 = #{spare3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>