<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrsb.cg.dao.UserMessageMapper" >
  <resultMap id="BaseResultMap" type="com.hrsb.cg.model.UserMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="types" property="types" jdbcType="TINYINT" />
    <result column="is_new" property="isNew" jdbcType="TINYINT" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="spare1" property="spare1" jdbcType="VARCHAR" />
    <result column="spare2" property="spare2" jdbcType="VARCHAR" />
    <result column="spare3" property="spare3" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hrsb.cg.model.UserMessageWithBLOBs" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, title, image, types, is_new, manager_id, operate_time, spare1, spare2, 
    spare3
  </sql>
  <sql id="Blob_Column_List" >
    content, detail
  </sql>
  
  <select id="selectByPage" resultMap="ResultMapWithBLOBs" parameterType="com.hrsb.cg.util.Page">
  select * from (
  select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hd_user_message
    <where>
    	<if test="params.title != null and params.title != ''">
    		and title = #{params.title}
    	</if>
    </where>
    <if test="params.title == null or params.title == ''">
    	group by title
	</if>
  	) temp
  </select>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hd_user_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectTopByUserId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hd_user_message
    where user_id = #{userId}
    order by id desc 
    limit 6
  </select>
  
  <select id="getByPage" resultMap="ResultMapWithBLOBs" parameterType="com.hrsb.cg.util.Page" >
    select 
    <include refid="Base_Column_List" />
    from hd_user_message
    where user_id = #{params.userId}
  </select>
  
  <select id="selectPre" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    from hd_user_message
    where user_id = #{1} and id &lt; #{0}
    order by id desc
    limit 1
  </select>
  
  <select id="selectNext" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    from hd_user_message
    where user_id = #{1} and id > #{0}
    order by id asc
    limit 1
  </select>
  
  <select id="selectCountByIsNewAndUserId" resultType="int">
    select count(id) from hd_user_message
    where user_id = #{1} and is_new = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hd_user_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByIdAndUserId">
    delete from hd_user_message
    where id = #{0} and user_id = #{1}
  </delete>
  
  <insert id="insert" parameterType="com.hrsb.cg.model.UserMessageWithBLOBs" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hd_user_message (id, user_id, title, 
      image, types, is_new, 
      manager_id, operate_time, spare1, 
      spare2, spare3, content, 
      detail)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{types,jdbcType=TINYINT}, #{isNew,jdbcType=TINYINT}, 
      #{managerId,jdbcType=INTEGER}, #{operateTime,jdbcType=TIMESTAMP}, #{spare1,jdbcType=VARCHAR}, 
      #{spare2,jdbcType=VARCHAR}, #{spare3,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, 
      #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hrsb.cg.model.UserMessageWithBLOBs" keyProperty="id" useGeneratedKeys="true">
    insert into hd_user_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="userId != null" >
        user_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="types != null" >
        types,
      </if>
      <if test="isNew != null" >
        is_new,
      </if>
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="spare1 != null" >
        spare1,
      </if>
      <if test="spare2 != null" >
        spare2,
      </if>
      <if test="spare3 != null" >
        spare3,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=BIGINT},
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="types != null" >
        #{types,jdbcType=TINYINT},
      </if>
      <if test="isNew != null" >
        #{isNew,jdbcType=TINYINT},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        #{spare3,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrsb.cg.model.UserMessageWithBLOBs" >
    update hd_user_message
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="types != null" >
        types = #{types,jdbcType=TINYINT},
      </if>
      <if test="isNew != null" >
        is_new = #{isNew,jdbcType=TINYINT},
      </if>
      <if test="managerId != null" >
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        spare1 = #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        spare2 = #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        spare3 = #{spare3,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hrsb.cg.model.UserMessageWithBLOBs" >
    update hd_user_message
    set user_id = #{userId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      types = #{types,jdbcType=TINYINT},
      is_new = #{isNew,jdbcType=TINYINT},
      manager_id = #{managerId,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      spare1 = #{spare1,jdbcType=VARCHAR},
      spare2 = #{spare2,jdbcType=VARCHAR},
      spare3 = #{spare3,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrsb.cg.model.UserMessage" >
    update hd_user_message
    set user_id = #{userId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      types = #{types,jdbcType=TINYINT},
      is_new = #{isNew,jdbcType=TINYINT},
      manager_id = #{managerId,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      spare1 = #{spare1,jdbcType=VARCHAR},
      spare2 = #{spare2,jdbcType=VARCHAR},
      spare3 = #{spare3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateIsNew" parameterType="java.lang.Long">
  	update hd_user_message set is_new = 0 where id = #{id}
  </update>
</mapper>